{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content py-3 bg">

<div class="px-3">
	{% include 'includes/alerts.html' %}
	{% for field in form %}
				{% for error in field.errors %}
		<div class="alert alert-primary" role="alert">
			{{ error }}
		</div>
		{% endfor %}
		{% endfor %}
		{% if error_view %}
		<div class="alert alert-primary" role="alert">
		{{ error_view }}
		</div>
		{% endif %}
	<div class="row">

	{% include 'includes/dashboard_sidebar.html' %}

	<main class="col-md-10">
		<article class="card">
		<div class="card-body">

   <form action="{% url 'change_password' %}" method="POST">
     {% csrf_token %}
	      <div class="row gutters-sm">
					<div class="col-md-4 mb-3">
					  <div class="card">
					    <div class="card-body">
					      <div class="d-flex flex-column align-items-center text-center">
					        <img src="{{accounts.image_thumbnail.url}}" alt="Profile Picture" class="rounded-circle">
					        <div class="mt-3">
					          <h4>{{accounts.username}}</h4>
					          <p class="text-secondary mb-1">{{accounts.profession | title}}</p>
					          <p class="text-muted font-size-sm">{{accounts.address | title}}</p>
					        </div>

					      </div>
								<small class="text-danger">* password must contain at least 6 characters, 1 digit, uppercase, lowercase and symbol.</small>
					    </div>
					  </div>

					</div>

            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Old Password</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{form.old_password}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">New Password</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{form.new_password1}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Confirm New Password</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{form.new_password2}}
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
        			        <button type="submit" class="btn btn-primary btn-block"> Save Password </button>
        			    </div> <!-- form-group// -->
                </div>
              </div>
            </div>

          </div>
   </form>

		</div> <!-- card-body .// -->
		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
